<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<link href="/static/post_detail.css" rel="stylesheet">
</head>
<body>
        <div class="Phytoheader">
            <h1 class="headtitle">Phytomap</h1>
        </div>
<div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description|linebreaks }}</p>
    </div>
<div class="compounds">
<ul style='display:block;'>
<h3>Compounds:</h3>
{% for chem in chems %}
<li title={{ chem }}>{{ chem }}</li>
{% endfor %}
</ul>
</div>
<div class='chart'>
<h3>Of the compounds isolated from this plant:</h3> 
{% if flavanoid_count != 0 %}
<p>{{ flavanoid_count }} are flavanoids</p>
{% endif %}
{% if terpene_count != 0 %}
<p>{{ terpene_count }} are terpenes </p>
{% endif %}
{% if amine_count != 0 %}
<p>{{ amine_count }} are amines </p>
{% endif %}
{% if glycoside_count != 0 %}
<p>{{ glycoside_count }} are glycosides</p>
{% endif %}
{% if acid_count != 0 %}
<p>{{ acid_count }} are acids</p>
{% endif %}
<canvas id='chem_chart' width='256' height='256'></canvas>
</div>
<script>
$(document).ready(function() {
	var ctx = $("#chem_chart").get(0).getContext("2d");

	var data = [
	{
		value: {{flavanoid_count}},
		color: "cornflowerblue",
		highlight: "lightskyblue",
		label: "Flavanoids"
	},
	{
		value: {{terpene_count}},
		color: "lightgreen",
		highlight: "yellowgreen",
		label: "Terpenes"
	},
	{
		value: {{amine_count}},
		color: "orange",
		highlight: "darkorange",
		label: "Amines"
	},
	{
		value: {{glycoside_count}},
		color: "#F7464A",
		highlight: "FF5A5E",
		label: "Glycosides"
	},
	{	
		value: {{acid_count}},
		color: "#46BFBD",
		highlight: "5AD3D1",
		label: "Acids"
	}

	];

	//draw
	var piechart = new Chart(ctx).Pie(data);
});
</script>


</body>
</html>